db.sqlite3
.vscode
venv
*.pyc
/__pycache__/
~/__pycache__/
*/__pycache__/
*.pyc
access.log
error.log
*~
__pycache__
.DS_Store
/venv/
~/*.pyc
*dump*.json
.idea/
local_settings.py
__pycache__/
*.py[cod]
/deletados/